/*
Syntax error: File to import not found or unreadable: compass.
              Load paths:
                /home/cha1tanya/Projects/fun/cha1tanya.com/sass
                /home/cha1tanya/Projects/fun/cha1tanya.com/sass
        on line 1 of /home/cha1tanya/Projects/fun/cha1tanya.com/sass/screen.scss

1: @import "compass";
2: 
3: @import "base";
4: @import "parts";
5: @import "plugins";
6: 

Backtrace:
/home/cha1tanya/Projects/fun/cha1tanya.com/sass/screen.scss:1
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.1.20/lib/sass/tree/import_node.rb:64:in `rescue in import'
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.1.20/lib/sass/tree/import_node.rb:42:in `import'
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.1.20/lib/sass/tree/import_node.rb:25:in `imported_file'
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:149:in `rescue in visit_import'
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:154:in `visit_import'
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `map'
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.1.20/lib/sass/tree/root_node.rb:20:in `render'
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.1.20/lib/sass/engine.rb:300:in `_render'
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.1.20/lib/sass/engine.rb:247:in `render'
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:200:in `each'
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.1.20/lib/sass/plugin.rb:81:in `update_stylesheets'
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.1.20/lib/sass/exec.rb:411:in `watch_or_update'
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.1.20/lib/sass/exec.rb:302:in `process_result'
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.1.20/lib/sass/exec.rb:41:in `parse'
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.1.20/lib/sass/exec.rb:21:in `parse!'
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.1.20/bin/sass:8:in `<top (required)>'
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/bin/sass:23:in `load'
/home/cha1tanya/.rvm/gems/ruby-1.9.3-p327/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: compass.\A               Load paths:\A                 /home/cha1tanya/Projects/fun/cha1tanya.com/sass\A                 /home/cha1tanya/Projects/fun/cha1tanya.com/sass\A         on line 1 of /home/cha1tanya/Projects/fun/cha1tanya.com/sass/screen.scss\A \A 1: @import \"compass\";\A 2: \A 3: @import \"base\";\A 4: @import \"parts\";\A 5: @import \"plugins\";\A 6: "; }
