<ul class="main-navigation">
  <li><a href="/"><i class="icon-home"></i>Home</a></li>
  <li><a href="https://github.com/prathamesh-sonpatki" target='_blank'><i class="icon-home"></i>Github</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <li><a href="http://scr.im/prathamesh" target='_blank'>Contact Me</a></li>
  <li>
    <a href="mailto:csonpatki@gmail.com" title="Pair program with me!">
      <img  src="http://pairprogramwith.me/badge.png" alt="Pair program with me!" />
    </a>
  </li>
</ul>
